{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title%}
更新文章|{{ block.super }}
{% endblock %}

{% block css%}

{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
    {{ form.media }}
        <form role="form" style="width:100%;" method="post" enctype="multipart/form-data" id="articleForm"
              action="{% url 'blogs:update' form.instance.pk %}">
            {% csrf_token %}
            {{ form|crispy }}
             <div class="form-group">
                    <button type="submit" class="btn btn-primary publish">发表文章</button>
                    <a class="btn btn-light" style="float:right" href="{% url 'blogs:list' %}">取消</a>
                </div>
        </form>

    </div>
</div>
{% endblock %}

{% block modal %}
{% endblock %}

{% block javascript %}
{% endblock %}
